<!DOCTYPE html>
<html>

<head>
  <title>Log In | Runblr </title>
  <%= stylesheet_link_tag    "sessions" %>
</head>

<body id="account_logged_out_dashboard">

    <div class="fullscreen_post_bg">
      <!-- <img class="fullscreen_post_image" src="http://www.sharewallpapers.org/d/288225-1/sasuke+and+naruto.jpg"> -->
      <img class="fullscreen_post_image" src="<%=asset_path "ladies.jpg"%>">
    </div>
    <div class="fullscreen_post_footer">
      <div class="fullscreen_post_posted_by show">
      </div>
    </div>

    <div class="dash_b_form_container">
      <div class="dash_b_form_header">
        <h1 class="logo">
          runblr.
        </h1>
      </div>
      <div class="dash_b_form">
        <form action="<%= session_url %>" method="post">
          <div class="signup_forms_panel group">
            <div class="form-row">
              <label for="user_email">
                <input
                  type="text"
                  name="user[email]"
                  value="<%= @user.username %>"
                  id="user_email"
                  placeholder='Email'
                  class="entry">
              </label>
            </div>
            <div class="form-row">
              <label for="user_password">
                <input
                  type="password"
                  name="user[password]"
                  id="user_password"
                  placeholder='Password'
                  class="entry">
              </label>
            </div>
          </div>
          <% if flash[:errors] %>
            <div class="signup_forms_error group">
              <%= render "layouts/errors" %>
            </div>
          <% end %>
          <div class="signup_forms_button group">
            <input class="sign-up-button" type="submit" value="Log in">
          </div>
        </form>

        <div class="tumblr_login_link">
            <%= link_to "Sign up for a new account", new_user_url %>
            <br>
            <%= link_to "Forgot Password?", new_password_reset_url %>
        </div>
      </div>


    </div>
  </body>
</html>
<html>
