<li>  User: <%= link_to comment.user.username, user_url(comment.user) %>
  <% unless current_user == comment.user %>
    <div class="follow-button-container">
      <%= render "users/follow_button", follower: comment.user %>
    </div>
  <% end %>

</li>
<li>  Comment: <%= comment.body %> </li>

  <ul>

    <%= render "comments/likes_template", comment: comment %>

    <li class="comment_form">
      Reply to this comment:
      <form action="<%= post_comments_url(comment.post.id) %>" method="POST">
        <textarea name="comment[body]"></textarea><br>
        <input type="submit">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>">
      </form>
    </li>

  </ul>

  <ul>
    <% comments_by_parent[comment.id].each do |child_comment| %>
      <%= comment_partial(child_comment, comments_by_parent) %>
    <% end %>
  </ul>