<div class="sub-comment">
  <div class="username-link-container">  User: <%= link_to comment.user.username, user_url(comment.user), :class => "username-link" %>
    <% unless current_user == comment.user %>
        <li><%= render "users/follow_button", follower: comment.user %></li>
    <% end %>
  </div>
  <li>  Comment: <%= comment.body %> </li>

  <ul>

    <%= render "comments/likes_template", comment: comment %>

    <div class="new-comment-container">
      <div class="post-comment-title"> Reply to this comment: </div>
      <form action="<%= post_comments_url(comment.post.id) %>" method="POST" class="new-comment-form" post-id="<%= comment.post.id %>">
        <textarea name="comment[body]"></textarea><br>
          <input type="submit" class="comment-button-submit">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>">
      </form>
    </div>

  </ul>

  <ul>
    <% comments_by_parent[comment.id].each do |child_comment| %>
      <%= comment_partial(child_comment, comments_by_parent) %>
    <% end %>
  </ul>
</div>