<div class="follow-button-container">
  <span class="follow-buttons<%= " can-follow" if !current_user.followed_users.include?(follower) %> user_follow_<%= follower.id %>">
  <!-- <td><%= button_to "Unfollow", user_follow_url(follower.id, current_user.id), method: :delete, form_class: "unfollow" %></td>
  <td><%= button_to "Follow", user_follows_url(follower.id), form_class: "follow" %></td> -->

  <form action="<%= user_follow_url(follower.id, current_user.id) %>" method="post"
         class="unfollow follow-form" data-id="<%= follower.id %>">
    <input type="hidden" name="authenticity_token"
                        value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">

    <input type="submit" name="commit" value="Unfollow">
  </form>

  <form action="<%= user_follows_url(follower.id) %>" method="post"
         class="follow follow-form" data-id="<%= follower.id %>">
    <input type="hidden" name="authenticity_token"
                        value="<%= form_authenticity_token %>">


    <input type="submit" name="commit" value="Follow">
  </form>

  </span>

</div>



