<form action="<%= posts_url %>" method="POST">

  Title: <input name="post[title]" value="<%= post.title %>"><br>
  Workout Type:
    <select name="post[workout_type]">
      <option value="Regular" "selected">Regular</option><br>
      <option value="Speed">Speed</option><br>
      <option value="Long">Long</option><br>
      <option value="Tempo">Tempo</option><br>
      <option value="Easy">Easy</option><br>
      <option value="Race">Race</option><br>
    </select> <br>
    <input type="date" name="post[workout_date]" value="<%post.workout_date%>">
    <input type="time" name="post[workout_time]" value="<%post.workout_time%>"><br>
  Miles: <input name="post[miles]" value="<%= post.miles %>" maxlength="2" size="2"><br>
  Duration: <input name="post[hours]" value="<%= post.hours %>" maxlength="2" size="2" placeholder="00">
                  :<input name="post[minutes]" value="<%= post.minutes %>" maxlength="2" size="2" placeholder="00">
                  :<input name="post[seconds]" value="<%= post.seconds %>" maxlength="2" size="2" placeholder="00"><br>
  <textarea name="post[body]" value="<%= post.body %>"></textarea><br>
  URL: <input name="post[url]" value="<%= post.url %>"><br>

  <input type="Submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>