<h2> Dashboard </h2>

Following: <br>
<% @user.followed_users.sort.each do |followed_user| %>
  <%= link_to followed_user.username, user_url(followed_user) %> <br>
<% end %> <br>

Followers: <br>
<% @user.followers.sort.each do |follower| %>
  <%= link_to follower.username, user_url(follower) %> <br>
<% end %> <br>

<h2> Search Users </h2>
<table>
  <% User.all.sort.each do |user| %>
    <% next if current_user == user %>
    <tr>
      <td>  <%= link_to user.username, user_url(user) %> </td>
    <% if current_user.followed_users.include?(user) %>
      <td><%= button_to "Unfollow", user_follow_url(user.id, current_user.id), method: :delete %></td>
    <% else %>
      <td><%= button_to "Follow", user_follows_url(user.id) %></td>
    <% end %>
      </tr>
  <% end %>
</table>

<h2> New Post </h2>
<%= render "post_form", post: @post %>

<ul>
  <% @user.posts.reverse.each do |post| %>
   <li> Title: <%= post.title %></li>
    <ul>  
      <li><%= post.workout_type %> Run</li> 
      <li><%= post.miles %> Miles</li>
      <li><%= post.hours %>:<%= post.minutes %>:<%= post.seconds %></li>
      <li><%= post.workout_date %></li>
      <li><%= post.workout_time %></li>
      <li><%= post.body %></li>
      <li><%= post.url %></li>
   </ul>
   <% end %>
 </ul>