<head>
  <title>Runblr </title>
  <%= stylesheet_link_tag    "dashboard" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="dashboard_index">
  <div id="container" class="group">
    <div id="header_container">

      <div id="header">
        <h1 class="dashboard-logo">
          <a class="logo_anchor" href="<%= user_dashboard_url(current_user) %>">runblr.</a>
        </h1>
        <div id="tabs_outter_container">
          <div id="user_tools">
            <div class="tab tab_home">
              <%= link_to "HO", user_dashboard_url(current_user) %>
            </div>
            <div class="tab tab_settings">
              <%= link_to "SE", edit_user_url(current_user) %>
            </div>
            <div class="tab tab_log_out">
              <%= link_to "LO", session_url, :method => :delete %>
            </div>
            <div class="tab tab_search">
              SEARCH
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="group">

      <div id="right_column">
        <h1 id="blog-holder">
          <%= link_to "Profile Page", user_url(current_user), id: "blog_link" %>
        </h1>
        <ul class="blog_menu">
          <li class="control_item group">
            <a href="#" class="right_link">
              Posts
            </a>
            <a href="#" class="right_link_amount">
              3
            </a>
          </li>
          <li class="control_item group">
            <a href="#" class="right_link">
              Followers
            </a>
            <a href="#" class="right_link_amount">
              <%= current_user.followers.count %>
            </a>
          </li>
          <li class="control_item group">
            <% current_user.followers.sort.each do |follower| %>
              <%= link_to follower.username, user_url(follower) %> <br>
                <%= render "users/follow_button", follower: follower %>
              <!-- <% if current_user.followed_users.include?(follower) %>
                <td><%= button_to "Unfollow", user_follow_url(follower.id, current_user.id), method: :delete %></td>
              <% else %>
                <td><%= button_to "Follow", user_follows_url(follower.id) %></td>
              <% end %> -->


            <!-- <% if current_user.followed_users.include?(follower) %>
              <td><%= button_to "Unfollow", user_follow_url(follower.id, current_user.id), method: :delete %></td>
            <% else %>
              <td><%= button_to "Follow", user_follows_url(follower.id) %></td>
            <% end %> -->

          <% end %>





          </li>
          <li class="control_item group">
            <a href="#" class="right_link">
              Following
            </a>
            <a href="#" class="right_link_amount">
              <%= current_user.followed_users.count %>
            </a>
          <li class="control_item group">
            <% current_user.followed_users.sort.each do |followed_user| %>
              <%= link_to followed_user.username, user_url(followed_user) %> <br>

                <!-- <td><%= button_to "Unfollow", user_follow_url(followed_user.id, current_user.id), method: :delete %></td> -->
                  <%= render "users/follow_button", follower: followed_user %>
            <% end %>

          </li>

        </ul>
      </div>

      <div id="left_column">

        <ol id="posts">
          <li class="post_container new_post_buttons_container">
            <div class="new_post_buttons">
              <nav id="post_buttons">
                <a href="#" class="new_post_label">
                  RU
                </a>
                <a href="#" class="new_post_label">
                  PH
                </a>
                <a href="#" class="new_post_label">
                  LI
                </a>
                <a href="#" class="new_post_label">
                  QU
                </a>
                <a href="#" class="new_post_label">
                  VI
                </a>
              </nav>
            </div>
            <div class="post_avatar">
              <% if current_user.has_profile_picture %>
                <img src="<%= current_user.profile_picture.url(:small) %>">
              <% else %>
                <img src="<%=asset_path "naruto_profile_pic.png"%>">
              <% end %>
            </div>
          </li>

          <!-- START POSTS -->

          <%= render "posts/show_template", user: current_user, show_all: true %>

          <li class="post_container">
            <div class="post">
              <div class="post_avatar">
                <a class="post_avatar_link" href="#">
                  AVAT
                </a>
              </div>
              <div class="post_wrapper">
                <div class="post_header">
                  HEADER INFO
                </div>
                <div class="post_content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="post_footer">
                  FOOTER
                </div>
              </div>
            </div>
          </li>

        </ol>
      </div>
    </div>
  </div>

  <%= render "posts/new_template", post: @post %>
</body>

<script>

  function toggleFollowButtons ($dataid) {
    // $button
//       .parents(".follow-buttons")
//       .toggleClass("can-follow");
      $(".user_"+$dataid).toggleClass("can-follow");
  }

  $("div.follow-button-container").on("submit", "form", function (event) {
    event.preventDefault();
    var $currentTarget = $(event.currentTarget);

    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $currentTarget.serializeJSON(),
      success: function () {

        toggleFollowButtons($form.attr("data-id"));

      }
    });
  });

</script>