<head>
  <title>Runblr </title>
  <%= stylesheet_link_tag    "dashboard" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="dashboard_index">
  <div id="container" class="group">
    <div id="header_container">

      <div id="header">
        <h1 class="dashboard-logo">
          <a class="logo_anchor" href="<%= user_dashboard_url(current_user) %>">runblr.</a>
        </h1>
        <div id="tabs_outter_container">
          <div id="user_tools">
            <div class="tab tab_home">
              <%= link_to "HO", user_dashboard_url(current_user) %>
            </div>
            <div class="tab tab_settings">
              <%= link_to "SE", edit_user_url(current_user) %>
            </div>
            <div class="tab tab_log_out">
              <%= link_to "LO", session_url, :method => :delete %>
            </div>
            <div class="tab tab_search">
              SEARCH
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="group">

      <div id="right_column">
        <h1 id="blog-holder">
          <%= link_to "Profile Page", user_url(current_user), id: "blog_link" %>
        </h1>
        <ul class="blog_menu">
          <li class="control_item group">
            <a href="#" class="right_link">
              Posts
            </a>
            <a href="#" class="right_link_amount">
              3
            </a>
          </li>
          <li class="control_item group">
            <a href="#" class="right_link">
              Followers
            </a>
            <a href="#" class="right_link_amount">
              <%= current_user.followers.count %>
            </a>
          </li>
          <li class="control_item group">
            <% current_user.followers.sort.each do |follower| %>
              <%= link_to follower.username, user_url(follower) %> <br>
                <%= render "users/follow_button", follower: follower %>
              <!-- <% if current_user.followed_users.include?(follower) %>
                <td><%= button_to "Unfollow", user_follow_url(follower.id, current_user.id), method: :delete %></td>
              <% else %>
                <td><%= button_to "Follow", user_follows_url(follower.id) %></td>
              <% end %> -->


            <!-- <% if current_user.followed_users.include?(follower) %>
              <td><%= button_to "Unfollow", user_follow_url(follower.id, current_user.id), method: :delete %></td>
            <% else %>
              <td><%= button_to "Follow", user_follows_url(follower.id) %></td>
            <% end %> -->

          <% end %>

          </li>
          <li class="control_item group">
            <a href="#" class="right_link">
              Following
            </a>
            <a href="#" class="right_link_amount">
              <%= current_user.followed_users.count %>
            </a>
          <li class="control_item group">
            <% current_user.followed_users.sort.each do |followed_user| %>
              <%= link_to followed_user.username, user_url(followed_user) %> <br>

                <!-- <td><%= button_to "Unfollow", user_follow_url(followed_user.id, current_user.id), method: :delete %></td> -->
                  <%= render "users/follow_button", follower: followed_user %>
            <% end %>

          </li>

        </ul>
      </div>

      <div id="left_column">

        <ol id="posts">
          <li class="post_container new_post_buttons_container">
            <div class="new_post_buttons">
              <nav id="post_buttons">
                <a href="#" class="new_post_label run-click">
                  RU
                </a>
                <a href="#" class="new_post_label photo-click">
                  PH
                </a>
                <a href="#" class="new_post_label link-click">
                  LI
                </a>
                <a href="#" class="new_post_label quote-click">
                  QU
                </a>
                <a href="#" class="new_post_label video-click">
                  VI
                </a>
              </nav>

              <!-- POST FORMS -->


              <div class="new_post_form_container">

                <div class="new_post_form run-post hide">
                  <%= render "posts/post_form", post: @post, post_type: "run" %>
                </div>

                <div class="new_post_form photo-post hide">
                  <%= render "posts/post_form", post: @post, post_type: "photo" %>
                </div>

                <div class="new_post_form link-post hide">
                  <%= render "posts/post_form", post: @post, post_type: "link" %>
                </div>

                <div class="new_post_form quote-post hide">
                  <%= render "posts/post_form", post: @post, post_type: "quote" %>
                </div>

                <div class="new_post_form video-post hide">
                  <%= render "posts/post_form", post: @post, post_type: "video" %>
                </div>

              </div>



            </div>
            <div class="post_avatar">
              <% if current_user.has_profile_picture %>
                <img src="<%= current_user.profile_picture.url(:small) %>">
              <% else %>
                <img src="<%=asset_path "blank_profile.png"%>">
              <% end %>
            </div>
          </li>

          <!-- START POSTS -->

          <%= render "posts/show_template", user: current_user, show_all: true %>

        </ol>
      </div>
    </div>
  </div>

</body>

<script>
$(document).ready(function(event){

  // FOLLOW BUTTONS

  function toggleFollowButtons ($dataid) {

      $(".user_follow_"+$dataid).toggleClass("can-follow");
  }

  $("#dashboard_index").on("submit", ".follow-form", function (event) {
    event.preventDefault();
    var $currentTarget = $(event.currentTarget);

    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $currentTarget.serializeJSON(),
      success: function () {

        toggleFollowButtons($form.attr("data-id"));

      }
    });
  });

  // NEW POST

  $("form.post-form").on("submit", function (event) {
    event.preventDefault();

    var $currentTarget = $(event.currentTarget);
    var data = $currentTarget.serializeJSON();
    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: data,
      success: function (post) {
        $("div.posts-list").prepend(post);
        $("."+data.post.post_type+"-post").toggleClass("hide");
        $form.each(function() {
          this.reset();
        });
      }
    });
  });

  // POST LIKES

  function togglePostLikeButtons ($button) {
    $button
      .parents(".like-buttons")
      .toggleClass("can-like");
  }

  $(".posts-container").on("submit", ".posts-liking-form", function (event) {
    event.preventDefault();
    var $currentTarget = $(event.currentTarget);

    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $currentTarget.serializeJSON(),
      success: function (like_info) {
        togglePostLikeButtons($currentTarget);
        $(".data-post-likes-"+$form.attr("data-id")).html(like_info)
      }
    });
  });

  // NEW COMMENT

  $(".posts-container").on("submit", ".new-comment-form", function (event) {
    event.preventDefault();

    var $currentTarget = $(event.currentTarget);
    var data = $currentTarget.serializeJSON();
    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: data,
      success: function (comments) {
        $(".data-post-comments-"+$form.attr("post-id")).html(comments)
        $form.each(function() {
          this.reset();
        });
      }
    });
  });

  // COMMENT LIKES

  function toggleCommentLikeButtons ($button) {
    $button
      .parents(".comment-like-buttons")
      .toggleClass("comment-can-like");
  }

  $(".posts-container").on("submit", ".comments-liking-form", function (event) {
    event.preventDefault();
    var $currentTarget = $(event.currentTarget);

    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $currentTarget.serializeJSON(),
      success: function (like_info) {
        toggleCommentLikeButtons($currentTarget);
        $(".data-comment-likes-"+$form.attr("data-id")).html(like_info)
      }
    });
  });

  // NEW POST BUTTONS

  $(".run-click").on("click", function() {
    $(".run-post").toggleClass("hide");
    $(".photo-post").addClass("hide");
    $(".link-post").addClass("hide");
    $(".quote-post").addClass("hide");
    $(".video-post").addClass("hide");
  });

  $(".photo-click").on("click", function() {
    $(".photo-post").toggleClass("hide");
    $(".run-post").addClass("hide");
    $(".link-post").addClass("hide");
    $(".quote-post").addClass("hide");
    $(".video-post").addClass("hide");
  });

  $(".link-click").on("click", function() {
    $(".link-post").toggleClass("hide");
    $(".photo-post").addClass("hide");
    $(".run-post").addClass("hide");
    $(".quote-post").addClass("hide");
    $(".video-post").addClass("hide");
  });

  $(".quote-click").on("click", function() {
    $(".quote-post").toggleClass("hide");
    $(".photo-post").addClass("hide");
    $(".link-post").addClass("hide");
    $(".run-post").addClass("hide");
    $(".video-post").addClass("hide");
  });

  $(".video-click").on("click", function() {
    $(".video-post").toggleClass("hide");
    $(".photo-post").addClass("hide");
    $(".link-post").addClass("hide");
    $(".quote-post").addClass("hide");
    $(".run-post").addClass("hide");
  });

});
</script>