<head>
  <title>Runblr </title>

  <%= stylesheet_link_tag    "dashboard" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="dashboard_index">
  <div class="container shift-edit">
    <%= render "users/header_partial"%>

    <div class="edit-title">
      <h2> Edit Information: </h2>
    </div>
    <form class="edit-user-info-form" action="<%= user_url(current_user) %>" method="post">
      <input type="hidden" name="_method" value="PUT">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

      <div class="signup_forms_panel group">
        <div class="form-row">
          <label for="user_email">
            <input
              type="text"
              name="user[email]"
              value="<%= @user.email %>"
              id="user_email"
              placeholder='Email'
              class="entry">
          </label>
        </div>
        <div class="form-row">
          <label for="user_password">
            <input
              type="password"
              name="user[password]"
              id="user_password"
              placeholder='Password'
              class="entry">
          </label>
        </div>
        <div class="form-row">
          <label for="user_username">
            <input
              type="text"
              name="user[username]"
              value="<%= @user.username %>"
              id="user_username"
              placeholder='Username'
              class="entry">
          </label>
        </div>
      </div><br>
      <% if flash[:notice] %>
        <%= flash[:notice] %> <br><br>
      <% end %>
      <% if flash[:errors] %>
        <div class="signup_forms_error group">
          <%= render "layouts/errors" %>
        </div>
      <% end %>
      <div class="edit_forms_button group submit-post">
        <input class="edit-button" type="submit" value="Update">
      </div>
    </form>

    <div class="edit-title">
      <h2> Upload Profile Picture: </h2>
    </div>
    
    <div class="show_avatar_on_edit">
        <% if current_user.has_profile_picture %>
          <img src="<%= current_user.profile_picture.url(:small) %>">
        <% else %>
          <img src="<%=asset_path "blank_profile.png"%>">
        <% end %>
    </div>
    
    <form action="<%= user_url(current_user) %>" method="POST"  enctype="multipart/form-data" class="edit-user-info-form">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="user[has_profile_picture]" value="true">
      <div class="upload-profile-picture">
        <input type="file" name="user[profile_picture]">
      </div>
      <div class="submit-post submit-profile-picture">
        <input type="Submit" value="Submit">
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
    

    
  </div>

</body>
