<head>
  <title>Runblr </title>
  <%= stylesheet_link_tag    "show" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
  </header>

  <div id="content">
  </div>

  <footer>
  </footer>


</body>

<h1><font color="red">run</font>blr.</h1>
<% if current_user.nil? %>
  <%= link_to "Create an Account", new_user_url %>
<% else %>
  <h3> current user: <%= current_user.username %> </h3>
  <%= link_to "Dashboard", user_dashboard_url(current_user) %>
  <%= link_to "Profile Page", user_url(current_user) %>
  <%= button_to "Logout", session_url, :method => :delete %> <br>
<% end %>


<h2> Profile page for: <%= @user.username %></h2>

<% unless @user == current_user %>
  <table>
      <tr>
        <td><%= @user.username %></td>
      <% if current_user && current_user.followed_users.include?(@user) %>
        <td><%= button_to "Unfollow", user_follow_url(@user.id, current_user.id), method: :delete %></td>
      <% else %>
        <td><%= button_to "Follow", user_follows_url(@user.id) %></td>
      <% end %>
        </tr>
  </table>
<% end %>

<%= render "posts/show_template", user: @user, show_all: false %>