<head>
  <title>Runblr </title>
  <%= stylesheet_link_tag    "show" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <div class="header group">
      <h1 class="header-logo">
        <% if current_user.nil? %>
          <%= link_to "Create an Account", new_user_url %>
        <% else %>
          <%= link_to "Dashboard", user_dashboard_url(current_user) %>
        <% end %>
      </h1>
      <div class="header-title">
        <h2> Profile page for: <%= @user.username %></h2>
      </div>
    </div>

    <div id="content group">
      <ol id="posts">
        <%= render "posts/show_template", user: @user, show_all: false %>
      </ol>
    </div>
  </div>
</body>

<script>
$(document).ready(function(event){

    function toggleFollowButtons ($dataid) {

        $(".user_"+$dataid).toggleClass("can-follow");
    }

    $("div.follow-button-container").on("submit", "form", function (event) {
      event.preventDefault();
      var $currentTarget = $(event.currentTarget);

      var $form = $(this);

      $.ajax({
        url: $form.attr("action"),
        type: "POST",
        data: $currentTarget.serializeJSON(),
        success: function () {

          toggleFollowButtons($form.attr("data-id"));

        }
      });
    });
});
</script>

