<% unless post.user.likes_post?(post) %>
  <li><%= link_to "like",  like_post_url(post), method: :post%></li>
<% else %>
  <li><%= link_to "unlike",  unlike_post_url(post), method: :post%></li>
<% end %>

<li><%= post.likes %> likes</li>
  <ul>
    <table>
      <% post.user_post_likes.each do |user_post_like| %>
        <% if user_post_like.value == 1 %>
          <tr>
            <% user = User.find_by_id(user_post_like.user_id) %>
              <td><%= link_to user.username, user_url(user) %> likes this </td>
              <% next if current_user == user %>
              <td><%= button_to "Follow", user_follows_url(user.id) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </ul>