

<nav>
  New Post
  <ul>
    <li>
      Ru
      <%= render "posts/post_form", post: post, post_type: "run" %>
    </li>
    <li>
      Ph
      <%= render "posts/post_form", post: post, post_type: "photo" %>
    </li>
    <li>
      Li
      <%= render "posts/post_form", post: post, post_type: "link" %>
    </li>
    <li>
      Qu
      <%= render "posts/post_form", post: post, post_type: "quote" %>
    </li>
    <li>
      Vi
      <%= render "posts/post_form", post: post, post_type: "video" %>
    </li>
  <ul>
</nav>