<li class="post_container">
  <div class="post">
    <div class="post_avatar">
      <a class="post_avatar_link" href="<%= user_url(@post.user) %>">
        <div class="post_avatar">
          <% if @post.user.has_profile_picture %>
            <img src="<%= @post.user.profile_picture.url(:small) %>">
          <% else %>
            <img src="<%=asset_path "blank_profile.png"%>">
          <% end %>
        </div>
      </a>
    </div>
    <div class="post_wrapper">
      <div class="post_header group">
        
        <div class="username-link-header-container">
          <div class="username-link-container">
          <%= link_to @post.user.username, user_url(@post.user), :class => "username-link" %>
          <% unless current_user == @post.user %>
              <%= render "users/follow_button", follower: @post.user %>
          <% end %>
          </div>
        </div>
        <% if @post.user == current_user %>
        
          <div class="delete-post-container">
          
            <form action="<%= post_url(@post.id) %> " method="post"
                   class="delete-post" data-id="<%= @post.id %>">
              <input type="hidden" name="authenticity_token"
                                  value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">

              <input type="submit" name="commit" value="Delete" class="delete-post-button" data-confirm='Are you sure?'>
            </form>
          
          </div>
          
        <% end %>
        
      </div>
      <div class="post_content">
        <%= render "posts/post_content_template", post: @post %>
      </div>
      <div class="post_footer">
        <%= render "posts/post_footer_template", post: @post%>
      </div>
    </div>
  </div>
</li>