<ul>
  <div class="post_title">
    <h2><%= link_to post.title, post_url(post) %></h2>
  </div>
  <div class="post_body">
    <ul>
      <% unless post.workout_date.nil? %>
        <li><b>Workout Date:</b> <%= post.workout_date %></li>
      <% end %>
      <% unless post.workout_time.nil? %>
        <li><b>Workout Time:</b> <%= post.workout_time %></li>
      <% end %>
      <% unless post.workout_time.nil? %>
        <li><b>Run Type:</b> <%= post.workout_type %> Run</li>
      <% end %>
      <% unless post.miles.nil? %>
        <li><b>Total Miles:</b> <%= post.miles %> </li>
      <% end %>
      <% unless post.hours.nil? && post.minutes.nil? && post.seconds.nil? %>

        <% if post.hours.nil? %>
          <% post.hours = 0 %>
        <% end %>
        <% if post.minutes.nil? %>
          <% post.minutes = 0 %>
        <% end %>
        <% if post.seconds.nil? %>
          <% post.seconds = 0 %>
        <% end %>
          <li><b>Time:</b> <%= "%02d" % post.hours %>:<%= "%02d" % post.minutes %>:<%= "%02d" % post.seconds %></li>
      <% end %><br>
      
      <li><%= post.body %></li>

      <% if post.post_type == "photo" %>
        <li><img src="<%= post.photo.url(:small) %>"></li>
      <% end %>
      
      <% if post.post_type == "video" %>
        <li><%= raw(Post.youtube_embed(post.url)) %></li>
      <% end %>
      
      <% if post.post_type == "link"  %>
        <% object = LinkThumbnailer.generate(post.url) %>
        <div class="link-info-container group">
          <div class="link-title">
            <li><a href="<%=  object.url %>"><%= object.title %></a></li>
            <br>
            <li><%= object.description %></li>
          </div>
          <div class="link-picture">
            <li><a href="<%=  object.url %>"><img src="<%= object.images.first %>"></a></li>
          </div>
        </div>
      <% end %>
      
    </ul>
  </div>
</ul>