<form action="<%= posts_url %>" method="POST"  enctype="multipart/form-data" class="post-form">


  <input type="hidden" name="post[post_type]" value="<%= post_type %>">

  <h1> New <%= post_type %> </h1>
  <br>

  Title: <input name="post[title]" value="<%= post.title %>" style="width: 366px"><br><br>

  <% if post_type == "run" %>
    Date: <input type="date" name="post[workout_date]" value="<%post.workout_date%>" style="text-align:center"><br><br>
    Time: <input type="time" name="post[workout_time]" value="<%post.workout_time%>" style="text-align:center"><br><br>
  <% end %>

  <% if post_type == "run" %>

    Workout Type:
      <select name="post[workout_type]">
        <option value="Regular" "selected">Regular</option><br>
        <option value="Speed">Speed</option><br>
        <option value="Long">Long</option><br>
        <option value="Tempo">Tempo</option><br>
        <option value="Easy">Easy</option><br>
        <option value="Race">Race</option><br>
      </select> <br><br>

    Miles: <input name="post[miles]" value="<%= post.miles %>" maxlength="3" size="3"><br><br>

    Duration: <input name="post[hours]" value="<%= post.hours %>" maxlength="2" size="2"
                style="text-align:center" placeholder="00">
                    : <input name="post[minutes]" value="<%= post.minutes %>" maxlength="2"size="2"
                    style="text-align:center" placeholder="00">
                    : <input name="post[seconds]" value="<%= post.seconds %>" maxlength="2" size="2"
                    style="text-align:center" placeholder="00"><br><br>


  <% end %>

  <% if post_type == "run" || post_type == "quote" %>

    <textarea style="width:398px; height:50px" name="post[body]" value="<%= post.body %>"></textarea><br>

  <% end %>

  <% if post_type == "link" || post_type == "video" %>

    URL: <input name="post[url]" value="<%= post.url %>" style="width: 362px"><br>

  <% end %>

  <% if post_type == "photo" %>

    <input type="file" name="post[photo]" multiple onchange="handle_files(this.files)">
    <br>

  <% end %>

  <br>
  <div class="submit-post">
    <input type="Submit" value="Submit">
  </div>
  
  
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>


