<% if show_all %>
  <% feed_posts = user.get_user_posts_feed %>
<% else %>
  <% feed_posts = user.posts %>
<% end %>

<div class="post-count">
  <h2> <%= feed_posts.count %> posts </h2>
</div>

<ul class="posts-container">

  <div class="posts-list">
   <% feed_posts.reverse.each do |post| %>

     <li class="post_container">
       <div class="post">
         <div class="post_avatar">
           <a class="post_avatar_link" href="<%= user_url(post.user) %>">
             <div class="post_avatar">
               <% if post.user.has_profile_picture %>
                 <img src="<%= post.user.profile_picture.url(:small) %>">
               <% else %>
                 <img src="<%=asset_path "blank_profile.png"%>">
               <% end %>
             </div>
           </a>
         </div>
         <div class="post_wrapper">
           <div class="post_header">
             <%= link_to post.user.username, user_url(post.user), :class => "username-link" %>
             <% unless current_user == post.user %>
                 <%= render "users/follow_button", follower: post.user %>
             <% end %>
           </div>
           <div class="post_content">
             <%= render "posts/post_content_template", post: post %>
           </div>
           <div class="post_footer">
             <%= render "posts/post_footer_template", post: post%>
           </div>
         </div>
       </div>
     </li>
   <% end %>
 </div>
</ul>