<h2> Posts List </h2>
<ul>


  <% if show_all %>
    <% feed_posts = user.get_user_posts_feed %>
  <% else %>
    <% feed_posts = user.posts %>
  <% end %>

  <li> <%= feed_posts.count %> posts </li>
   <% feed_posts.reverse.each do |post| %>
     <li> Post Type: <%= post.post_type %></li>
         <ul>
           <li> User: <%= link_to post.user.username, user_url(user) %></li>
           <li> Title: <%= link_to post.title, post_url(post) %></li>
             <ul>
               <li><%= post.workout_date %></li>
               <li><%= post.workout_time %></li>
               <% if post.post_type == "run" %>
                 <li><%= post.workout_type %> Run</li>
                 <li><%= post.miles %> Miles</li>
                 <li><%= post.hours %>:<%= post.minutes %>:<%= post.seconds %></li>
               <% end %>
               <li><%= post.body %></li>
               <% if post.post_type == "link" || "video" %>
                 <li><%= post.url %></li>
               <% end %>
             </ul>
         </ul>
         <ul>
           <li> Options bar </li>
              <ul>
                <%= render "posts/likes_template", post: post %>
              </ul>
              <ul>
                <li>
                  <%= post.comments.count %> comments
                </li>
                <li>
                  Post Comment
                  <%= render "comments/new_template", post: post %>
                </li>

                  <ul>
                    <%= render "comments/comments_template", post: post %>
                  </ul>
              </ul>
         </ul>


   <% end %>
</ul>