<% post = @post %>

<h2> <%= link_to post.title, post_url(post) %> </h2>
<h2> by <%= post.user.username %> </h2>

<li> Post Type: <%= post.post_type %></li>

    <ul>
      <li><%= post.workout_date %></li>
      <li><%= post.workout_time %></li>
      <% if post.post_type == "run" %>
        <li><%= post.workout_type %> Run</li>
        <li><%= post.miles %> Miles</li>
        <li><%= post.hours %>:<%= post.minutes %>:<%= post.seconds %></li>
      <% end %>
      <li><%= post.body %></li>
      <% if post.post_type == "link" || post.post_type == "video" %>
        <li><%= post.url %></li>
      <% end %>


    </ul>

    <ul>
      <li> Options bar </li>
         <ul>
           <%= render "posts/likes_template", post: post %>
         </ul>
         <ul>
           <li class="comment-form">
             <div class="post-comment-title">Post Comment</div>
             <%= render "comments/new_template", post: post %>
           </li>

             <ul class="child-template">
               <%= render "comments/comments_template", post: post %>
             </ul>
         </ul>
    </ul>




